</main>

<footer class="footer footer_border footer_n-offset">
    <div class="wrapper wrapper_large">
        <div class="footer-top">
            <div class="footer-content">
                <div class="footer__col footer__first">
                    <a href="#" class="footer-logo footer-logo_offset">
                        <img class="footer-logo__pic" src="images/footer-logo.svg" alt="">
                    </a>
                    <div class="footer-net">
                        <div class="footer-net__item">
                            <a href="#" class="iconed iconed_center ">
                                <img class="footer-net__ico iconed__ico iconed__ico_r-default" src="images/instagram-ico.svg" alt="">
                                <span class="iconed__title">
                                    instagram
                                </span>

                            </a>
                        </div>
                        <div class="footer-net__item">
                            <a href="#" class="iconed iconed_center ">
                                <img class="footer-net__ico iconed__ico iconed__ico_r-default" src="images/tiu.svg" alt="">
                                <span class="iconed__title">
                                    tiu.ru
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer__col footer__navs">
                    <a class="h5 footer__title">Продукция</a>
                    <nav class="footer__nav footer__nav_m-hide">
                        <a href="#" class="footer__link">
                            Косметика
                        </a>
                        <a href="#" class="footer__link">
                            Тапочки
                        </a>
                        <a href="#" class="footer__link">
                            Текстиль и махровые изделия
                        </a>
                        <a href="#" class="footer__link">
                            Галантерея
                        </a>
                    </nav>
                </div>
                <div class="footer__col footer__navs">
                    <a class="h5 footer__title">Коллекции</a>
                    <nav class="footer__nav footer__nav_m-hide">
                        <a href="#" class="footer__link">
                            Hotel
                        </a>
                        <a href="#" class="footer__link">
                            Aquarelle
                        </a>
                        <a href="#" class="footer__link">
                            Argento
                        </a>
                        <a href="#" class="footer__link">
                            City
                        </a>
                    </nav>
                </div>
                <div class="footer__col footer__navs footer__mob-f">
                    <nav class="footer__nav">
                        <a href="#" class="footer__link">
                            Брендирование продукции
                        </a>
                        <a href="#" class="footer__link">
                            О компании
                        </a>
                        <a href="#" class="footer__link">
                            Новости
                        </a>
                        <a href="#" class="footer__link">
                            Акции
                        </a>
                        <a href="#" class="footer__link">
                            Помощь
                        </a>
                        <a href="#" class="footer__link">
                            Контакты
                        </a>
                    </nav>
                </div>
                <div class="footer__col footer__cont">

                    <div class="footer-contacts">
                        <a href="#" class="phone man-tile__phone footer-contacts__link">
                            8 800 000 00 00
                        </a>
                        <a href="#" class="link link_blue link_decorated footer-contacts__link">
                            sales@saspack.ru
                        </a>
                        <a href="#" class="link link_blue link_decorated footer-contacts__link">
                            info@saspack.ru
                        </a>
                    </div>
                </div>
                <div class="footer__col">
                    <a href="#" class="iconed iconed_center circle-link">
                        <i class="circle-link__ico iconed__ico iconed__ico_r-default">
                            <svg class="plus-ico">
                                <use xlink:href="images/icons.svg#plus-icon">
                                </use>
                            </svg>
                        </i>
                        <span class="iconed__title circle-link__title title title_small title_bold">
                            Собрать свой набор
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-copy">

                <span class="footer-copy__company">
                    © saspack, 2019
                </span>
                <span class="footer-dev">
                    <span class="footer-dev__title">
                        Сайт нам сделали в
                    </span>
                    <a href="#" class="footer-dev__link">sunmedia.</a>
                </span>
            </div>
        </div>
    </div>
</footer>


<div class="popup popup_default mfp-hide" id="sent-order">
    <div class="popup__content">
        <div class="row row_t-reverce">
            <div class="col col--lg-6">
                <h2 class="popup__title">
                    Отправить заявку
                </h2>
                <form action="#" class="popup-form form">
                    <div class="form__item">
                        <input type="text" class="input  input_default input_bordered" placeholder="Как вас зовут?">
                    </div>
                    <div class="form__item">
                        <input type="tel" class="input input_default phone-mask input_bordered" placeholder="Телефон">
                    </div>
                    <div class="form__item">
                        <div class="popup-summ">
                            <span class="popup-summ__title">
                                Количество наборов
                            </span>
                            <div class="counter counter_bordered">
                                <button class="counter__btn counter__btn_minus"></button>
                                <input type="text" class="only-numb counter__input" value="1">
                                <button class="counter__btn counter__btn_plus"></button>
                            </div>
                            <span class="popup-summ__price popup-summ__price_offset">от 120 000 руб.</span>
                        </div>
                    </div>
                    <div class="form__item">
                        <label class="checkbox form__checkbox">
                            <input type="checkbox" class="checkbox__input">
                            <span class="checkbox__label">
                                Я согласен на <a href="#" class="link link_g">обработку персональных данных</a>
                            </span>
                        </label>
                    </div>
                    <div class="form__item">
                        <input type="submit" value="Отправить" class="popup_btn">
                    </div>
                </form>
            </div>
            <div class="col col--lg-6">
                <div class="row">
                    <div class="col col--lg-12">
                        <h4>Детали заказа</h4>
                    </div>
                </div>
                <div class="row ">
                    <div class="col col--sm-4 col--xs-6">
                        <span class="set-item__content popup__set-item">
                            <span class="set-item__pic">
                                <span class="set-item__counter">1</span>
                                <svg class="set-item__ico set-razor-icon">
                                    <use xlink:href="images/icons.svg#razor-icon">
                                    </use>
                                </svg>
                            </span>
                            <span class="set-item__title">
                                Бритвенный набор
                            </span>
                        </span>
                    </div>
                    <div class="col col--sm-4 col--xs-6">
                        <span class="set-item__content popup__set-item">
                            <span class="set-item__pic">
                                <span class="set-item__counter">2</span>
                                <svg class="set-item__ico set-toothbrush-icon">
                                    <use xlink:href="images/icons.svg#toothbrush-icon">
                                    </use>
                                </svg>
                            </span>
                            <span class="set-item__title">
                                Зубной набор
                            </span>
                        </span>
                    </div>
                    <div class="col col--sm-4 col--xs-6">
                        <span class="set-item__content popup__set-item">
                            <span class="set-item__pic">
                                <span class="set-item__counter">1</span>
                                <svg class="set-item__ico set-shower-icon">
                                    <use xlink:href="images/icons.svg#shower-icon">
                                    </use>
                                </svg>
                            </span>
                            <span class="set-item__title">
                                Гель для душа
                            </span>
                        </span>
                    </div>
                    <div class="col col--sm-4 col--xs-6">
                        <span class="set-item__content popup__set-item">
                            <span class="set-item__pic">
                                <span class="set-item__counter">1</span>
                                <svg class="set-item__ico liquid-soap-icon">
                                    <use xlink:href="images/icons.svg#liquid-soap-icon">
                                    </use>
                                </svg>
                            </span>
                            <span class="set-item__title">
                                Кондиционер для волос
                            </span>
                        </span>
                    </div>
                    <div class="col col--sm-4 col--xs-6">
                        <span class="set-item__content popup__set-item">
                            <span class="set-item__pic">
                                <span class="set-item__counter">1</span>
                                <svg class="set-item__ico soap-dish-icon">
                                    <use xlink:href="images/icons.svg#soap-dish-icon">
                                    </use>
                                </svg>
                            </span>
                            <span class="set-item__title">
                                Мыло
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup popup_slim select-box mfp-hide" id="select-box">
    <div class="popup__content popup__content_n-o">
        <div class="popup-header">
            <img src="images/popup-img-1.jpg" alt="">
        </div>
        <form action="" class="select-box__form">
            <div class="select-box__content">
                <h2 class="popup__title popup__title_slim">
                    Картонная коробочка
                </h2>
                <div class="popup__desc">
                    Выберите параметры коробки
                </div>
            </div>
            <div class="select-box-items">
                <label class="set-item">
                    <input type="checkbox" class="set-item__input">
                    <span class="set-item__content">
                        <span class="set-item__pic">
                            <span class="set-item__status"></span>
                            <img class="set-item__img" src="images/Mockup-1.png" alt="">
                        </span>
                        <span class="set-item__title">
                            Стандарт
                        </span>
                    </span>
                </label>
                <label class="set-item">
                    <input type="checkbox" class="set-item__input">
                    <span class="set-item__content">
                        <span class="set-item__pic">
                            <span class="set-item__status"></span>
                            <img class="set-item__img" src="images/Mockup-2.png" alt="">
                        </span>
                        <span class="set-item__title">
                            Лак
                        </span>
                    </span>
                </label>
                <label class="set-item">
                    <input type="checkbox" class="set-item__input">
                    <span class="set-item__content">
                        <span class="set-item__pic">
                            <span class="set-item__status"></span>
                            <img class="set-item__img" src="images/Mockup-3.png" alt="">
                        </span>
                        <span class="set-item__title">
                            Ламинация
                        </span>
                    </span>
                </label>
                <label class="set-item">
                    <input type="checkbox" class="set-item__input">
                    <span class="set-item__content">
                        <span class="set-item__pic">
                            <span class="set-item__status"></span>
                            <img class="set-item__img" src="images/Mockup-4.png" alt="">
                        </span>
                        <span class="set-item__title">
                            Фольгирование
                        </span>
                    </span>
                </label>
                <label class="set-item">
                    <input type="checkbox" class="set-item__input">
                    <span class="set-item__content">
                        <span class="set-item__pic">
                            <span class="set-item__status"></span>
                            <img class="set-item__img" src="images/Mockup-5.png" alt="">
                        </span>
                        <span class="set-item__title">
                            Тиснение
                        </span>
                    </span>
                </label>
            </div>
            <div class="form__item form__item_centered">
                <input type="submit" value="Подтвердить" class="popup_btn">
            </div>
        </form>
    </div>
</div>

<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/slick.js"></script>
<script src="js/jquery.scrollme.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/jquery.matchHeight.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/dropzone.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
<script src="js/ScrollMagic.min.js"></script>
<script src="js/animation.gsap.min.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/main.js"></script>


<script>
    if ($('.magic').length) {
        if ($(window).width() > 1024) {
            var controller = new ScrollMagic.Controller();

            // create a scene

            var tween1 = new TimelineMax({})
                .add(TweenMax.from('.op-item', 1.4, {
                    opacity: 1
                }))
                .add(TweenMax.to('.op-item', 1.4, {
                    opacity: 0
                }))
                .add(TweenMax.to('.s-desc__left', 5, {
                    y: 0,
                    opacity: 1
                }))
                .add(TweenMax.to('.s-desc__right', 5, {
                    y: 0,
                    opacity: 1
                }))
                .add(TweenMax.to('.s-desc__left,.s-desc__right', 4, {
                    y: -400,
                    opacity: 0
                }))
                .add(TweenMax.to('.s-desc__b-left', 4, {
                    y: 0,
                    opacity: 1
                }))
                .add(TweenMax.to('.s-desc__b-right', 4, {
                    y: 0,
                    opacity: 1
                }))
            new ScrollMagic.Scene({
                    duration: 4000, // the scene should last for a scroll distance of 100px
                    offset: 100 // start this scene after scrolling for 50px
                })
                .setTween(tween1)
                .setPin(".magic") // pins the element for the the scene's duration
                .addTo(controller);

        }
    }
</script>

</body>

</html>