</main>

<footer class="footer footer_n-offset">
    <div class="wrapper wrapper_large">
        <div class="footer-top">
            <div class="footer-content">
                <div class="footer__col footer__first">
                    <a href="#" class="footer-logo footer-logo_offset">
                        <img class="footer-logo__pic" src="images/footer-logo.svg" alt="">
                    </a>
                    <div class="footer-net">
                        <div class="footer-net__item">
                            <a href="#" class="iconed iconed_center ">
                                <img class="footer-net__ico iconed__ico iconed__ico_r-default" src="images/instagram-ico.svg" alt="">
                                <span class="iconed__title">
                                    instagram
                                </span>

                            </a>
                        </div>
                        <div class="footer-net__item">
                            <a href="#" class="iconed iconed_center ">
                                <img class="footer-net__ico iconed__ico iconed__ico_r-default" src="images/tiu.svg" alt="">
                                <span class="iconed__title">
                                    tiu.ru
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer__col footer__navs">
                    <a class="h5 footer__title">Продукция</a>
                    <nav class="footer__nav footer__nav_m-hide">
                        <a href="#" class="footer__link">
                            Косметика
                        </a>
                        <a href="#" class="footer__link">
                            Тапочки
                        </a>
                        <a href="#" class="footer__link">
                            Текстиль и махровые изделия
                        </a>
                        <a href="#" class="footer__link">
                            Галантерея
                        </a>
                    </nav>
                </div>
                <div class="footer__col footer__navs">
                    <a class="h5 footer__title">Коллекции</a>
                    <nav class="footer__nav footer__nav_m-hide">
                        <a href="#" class="footer__link">
                            Hotel
                        </a>
                        <a href="#" class="footer__link">
                            Aquarelle
                        </a>
                        <a href="#" class="footer__link">
                            Argento
                        </a>
                        <a href="#" class="footer__link">
                            City
                        </a>
                    </nav>
                </div>
                <div class="footer__col footer__navs footer__mob-f">
                    <nav class="footer__nav">
                        <a href="#" class="footer__link">
                            Брендирование продукции
                        </a>
                        <a href="#" class="footer__link">
                            О компании
                        </a>
                        <a href="#" class="footer__link">
                            Новости
                        </a>
                        <a href="#" class="footer__link">
                            Акции
                        </a>
                        <a href="#" class="footer__link">
                            Помощь
                        </a>
                        <a href="#" class="footer__link">
                            Контакты
                        </a>
                    </nav>
                </div>
                <div class="footer__col footer__cont">

                    <div class="footer-contacts">
                        <a href="#" class="phone man-tile__phone footer-contacts__link">
                            8 800 000 00 00
                        </a>
                        <a href="#" class="link link_blue link_decorated footer-contacts__link">
                            sales@saspack.ru
                        </a>
                        <a href="#" class="link link_blue link_decorated footer-contacts__link">
                            info@saspack.ru
                        </a>
                    </div>
                </div>
                <div class="footer__col">
                    <a href="#" class="iconed iconed_center circle-link">
                        <i class="circle-link__ico iconed__ico iconed__ico_r-default">
                            <svg class="plus-ico">
                                <use xlink:href="images/icons.svg#plus-icon">
                                </use>
                            </svg>
                        </i>
                        <span class="iconed__title circle-link__title title title_small title_bold">
                            Собрать свой набор
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-copy">

                <span class="footer-copy__company">
                    © saspack, 2019
                </span>
                <span class="footer-dev">
                    <span class="footer-dev__title">
                        Сайт нам сделали в
                    </span>
                    <a href="#" class="footer-dev__link">sunmedia.</a>
                </span>
            </div>
        </div>
    </div>
</footer>

<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/slick.js"></script>
<script src="js/jquery.scrollme.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/jquery.matchHeight.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/dropzone.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/main.js"></script>

<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU&amp;" type="text/javascript"></script>
<script>
    ymaps.ready(function() {
        var myMap = new ymaps.Map('map', {
            center: [45.06166188109295, 38.9622065],
            zoom: 9,
            controls: []
        }, {
            searchControlProvider: 'yandex#search'
        });
        myPlacemark1 = new ymaps.Placemark([45.06166188109295, 38.9622065], {
            hintContent: 'Краснодар',
            balloonContent: 'Краснодар'
        }, {
            // Опции.
            // Необходимо указать данный тип макета.
            iconLayout: 'default#image',
            // Своё изображение иконки метки.
            iconImageHref: 'images/baloon-ico.png',
            // Размеры метки.
            iconImageSize: [87, 103],
            // Смещение левого верхнего угла иконки относительно
            // её "ножки" (точки привязки).
            iconImageOffset: [-5, -38]
        });

        myPlacemark2 = new ymaps.Placemark([46.359310939772556, 48.036646499999996], {
            hintContent: 'Астрахань',
            balloonContent: 'Астрахань'
        }, {
            // Опции.
            // Необходимо указать данный тип макета.
            iconLayout: 'default#image',
            // Своё изображение иконки метки.
            iconImageHref: 'images/baloon-ico.png',
            // Размеры метки.
            iconImageSize: [87, 103],
            // Смещение левого верхнего угла иконки относительно
            // её "ножки" (точки привязки).
            iconImageOffset: [-5, -38]
        });
        myPlacemark3 = new ymaps.Placemark([59.91807704072416, 30.304899499999895], {
            hintContent: 'Санкт-петербург',
            balloonContent: 'Санкт-петербург'
        }, {
            // Опции.
            // Необходимо указать данный тип макета.
            iconLayout: 'default#image',
            // Своё изображение иконки метки.
            iconImageHref: 'images/baloon-ico.png',
            // Размеры метки.
            iconImageSize: [87, 103],
            // Смещение левого верхнего угла иконки относительно
            // её "ножки" (точки привязки).
            iconImageOffset: [-5, -38]
        });
        myMap.geoObjects.add(myPlacemark1);
        myMap.geoObjects.add(myPlacemark2);
        myMap.geoObjects.add(myPlacemark3);


        $('.contacts-map-nav__item').click(function(e) {
            e.preventDefault();
            var coord = $(this).attr('href').split(',');
            myMap.setCenter([coord[0], coord[1]]);
        })
    })
</script>

</body>

</html>